.resume{
        width: 800px;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    height: calc    (100vh +20%);
  
    border-radius: 4px;
}

.padding-background{

    background: lightgray;
    padding: 30px;
    border-radius: 3px;
}


.educational_form__button{
        margin-top: 10px;
        display: flex;
    align-items: center;
    justify-content: space-between;
}