@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&family=Philosopher:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Josefin+Sans&display=swap');

.main {
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: #8f9292;
}

.data {
  margin-bottom: 10px; /* Espacement entre chaque bloc de données */
}

.wrapper {
  margin-top: 20px;
  margin-left: 250px;
  width: 1000px;
  display: flex;
  box-shadow: 0 1px 20px 0 rgba(69, 90, 100, .08);
}

.wrapper .left {
  width: 30%;
  background: linear-gradient(to right, #bdbebe, #bdbebe);
  padding: 30px 25px;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
  text-align: center;
  color: #111010;
}

.wrapper .left img {
  border-radius: 5px;
  margin-bottom: 10px;
}

.wrapper .left h4 {
  margin-bottom: 20px;
}

.wrapper .left p {
  font-size: 50px;
}

.wrapper .right {
  width: 70%;
  background: #eeecec;
  padding: 30px 25px;
  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
}

.wrapper .right .info,
.wrapper .right .projects {
  margin-bottom: 25px;
  word-wrap: break-word;
}

.wrapper .right .info h3,
.wrapper .right .projects h3 {
  margin-bottom: 15px;
  padding-bottom: 5px;
  border-bottom: 1px solid #e0e0e0;
  color: #353c4e;
  text-transform: uppercase;
  letter-spacing: 5px;
}

.wrapper .right .info_data,
.wrapper .right .projects_data {
  display: flex;
  flex-wrap: wrap; /* Permettre le passage à la ligne lorsque nécessaire */
}

.wrapper .right .info_data .data,
.wrapper .right .projects_data .data {
  width: 45%; /* Modifier la largeur à 45% */
  margin-right: 5%; /* Ajouter une marge à droite pour séparer les deux blocs */
}

/* Ajouter une règle pour le dernier élément afin d'éviter la marge à droite */
.wrapper .right .info_data .data:last-child,
.wrapper .right .projects_data .data:last-child {
  margin-right: 0;
}

.wrapper .right .info_data .data h4,
.wrapper .right .projects_data .data h4 {
  color: #353c4e;
  margin-bottom: 5px;
}

.wrapper .right .info_data .data p,
.wrapper .right .projects_data .data p {
  font-size: 15px;
  margin-bottom: 20px;
  color: #3b3b3b;
}

.wrapper .social_media ul {
  display: flex;
}

.wrapper .social_media ul li {
  width: 45px;
  height: 45px;
  background: linear-gradient(to right, #5c5f5f, #5e6161);
  margin-right: 10px;
  border-radius: 5px;
  text-align: center;
  line-height: 45px;
}

.wrapper .social_media ul li a {
  color: #fff;
  display: block;
  font-size: 18px;
}

.main {
  margin: 30px;
  padding: 20px;
  border-radius: 10px;
  background-color: #ebecec;
}

.profile {
  display: inline-block;
}

.profile img {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 10px solid white;
}

.details {
  display: inline-block;
  vertical-align: top;
  margin-left: 200px; /* Ajustez la marge gauche selon vos besoins */
  max-width: 300px;
  overflow-wrap: break-word;
}

.details h2,
.details h3 {
  margin: 0;
}

.button1 {
  margin-top: 20px;
  color: white;
  padding: 10px 20px;
  border-radius: 5px;
  border: 1px solid white;
  background-color: #1dbf73;
  border-color: #1dbf73;
  cursor: pointer;
}

.download-button {
  background-color: #3c3d3d;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  margin-top: 30px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-left: 80%;
}

.icon {
  margin-right: 5px; /* Ajustez la marge entre l'icône et le texte selon vos besoins */
}

.download-button:hover {
  background-color: #0056b3;
}

.testimonials {
  width: 80%;
  padding: 0px 0;
  margin-left: 150px;
}

.testimonials__card {
  padding: 30px;
  background-color: #ebecec;
  color: #333;
  margin: 10px;
  border: 1px solid #000;;
  border-radius: 20px;
}

.testimonials__textt {
  font-size: 22px;
}

.no-underline {
  text-decoration: none;
}

.testimonials__author {
  font-size: 22px;
  margin-top: 30px;
}

.cards {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 20px;
}
.small-delete-icon {
  font-size: 6px; /* Adjust the size as needed */
}

/* Media Queries pour rendre .wrapper responsive */
@media (max-width: 1024px) {
  .wrapper {
    margin-left: 0;
    width: 100%;
    flex-direction: column;
    box-shadow: none; /* Supprimer l'ombre pour les écrans plus petits */
  }

  .wrapper .left, .wrapper .right {
    width: 100%;
    border-radius: 0; /* Supprimer les coins arrondis */
    padding: 20px;
  }
}

@media (max-width: 768px) {
  .wrapper .right .info_data .data,
  .wrapper .right .projects_data .data {
    width: 100%; /* Prendre toute la largeur pour les écrans plus petits */
    margin-right: 0;
  }

  .details {
    display: block;
    margin-left: 0;
    text-align: center;
  }

  .download-button {
    margin-left: 0;
  }
}

@media (max-width: 480px) {
  .profile img {
    width: 150px;
    height: 150px;
  }

  .button1, .download-button {
    width: 100%;
    padding: 15px;
  }
}
