.card {
	background: var(--nav-bg);
	padding: 20px;
	width: 600px;
	border-radius: 20px;
	transition: all 0.5s ease;
	cursor: pointer;
	border: 1px solid var(--text-color);
}

.card:hover {
	border: 1px solid var(--special-text);
	transform: scale(1.05);
}

.card__icon {
	font-size: 40px;
	color: var(--special-text);
}
.smallImage {
	width: 50px; /* Modifiez cette valeur selon la taille souhaitée */
	height: auto; /* Assurez-vous de garder une dimension proportionnelle */
  }

.card__title {
	font-size: 32px;
	color: var(--special-text);
}
.card__description {
	font-size: 22px;
	word-wrap: break-word;
}
